{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Akame - Hair Salon HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'website2/img/core-img/favicon.ico'%}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'website2/css/style.css' %}">

</head>

<body>
    {% include 'website/header.html' %}
    <!-- Google Maps Start -->
    <div class="akame-google-maps-area ">
      {% include 'website/maps.html'%}
    </div>
    
    <!-- Google Maps End -->

    <!-- Contact Information Area Start -->
    <section class="contact-information-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_phone"></i>
                        <h4>Phone</h4>
                        <p>+27 78 550 3824 </p>
                    </div>
                </div>

                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_pin"></i>
                        <h4>Address</h4>
                        <p>34 Main Rd, Keimoes, 8860, South Africa</p>
                    </div>
                </div>

                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_clock"></i>
                        <h4>Open time</h4>
                        <p>09:00 am to 19:00 pm</p>
                    </div>
                </div>

                <!-- Single Contact Information -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-contact-information mb-80">
                        <i class="icon_mail"></i>
                        <h4>Email</h4>
                        <p>omlosper@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Information Area End -->

    <!-- Contact Area Start -->
    <section class="akame-contact-area bg-gray section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Leave message</h2>
                        <p>Our staff will call back later and answer your questions.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Form -->
                    <form  method="post" class="akame-contact-form border-0 p-0">{% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6" >
                                {{form.first_name}}
                            </div>
                            <div class="col-lg-6">
                                {{form.last_name}}
                            </div>
                            <div class="col-lg-6">
                                {{form.email}}
                            </div>
                            <div class="col-lg-6">
                                {{form.phone}}
                            </div>
                            <div class="col-12">
                                {{form.message}}
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn akame-btn btn-3 mt-15 active">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End -->

    <!-- Footer Area Start -->
    {% include 'website/footer.html' %}
    <!-- Footer Area End -->

    <!-- All JS Files -->
    <!-- jQuery -->
    <script src="{% static 'website2/js/jquery.min.js'%}"></script>
    <!-- Popper -->
    <script src="{% static 'website2/js/popper.min.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'website2/js/bootstrap.min.js'%}"></script>
    <!-- All Plugins -->
    <script src="{% static 'website2/js/akame.bundle.js'%}"></script>
    <!-- Active -->
    <script src="{% static 'website2/js/default-assets/active.js'%}"></script>

</body>

</html>