{% load static %}
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->
<header class="header-area">
    <!-- Top Header Area Start -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-5">
                    <div class="top-header-content">
                        <p>Welcome to Salon Odelia!</p>
                    </div>
                </div>
                <div class="col-7">
                    <div class="top-header-content text-right">
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Sat: 8.00 to 17.00 <span class="mx-2"></span> | <span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us: (+27)-345-6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="akameNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="{% static 'website2/img/core-img/logo.png'%}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a href="{% url 'website:index' %}">Home</a></li>
                                <li><a href="{% url 'website:shop' %}">Shop</a>
                                    <ul class="dropdown">
                                        {% for item in categories %}
                                        <li><a href="{% url 'website:shop' %}">- {{item.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'website:portfolio' %}">Portfolio</a></li>
                                <li><a href="{% url 'website:services' %}">Services</a></li>
                                <li><a href="{% url 'website:about' %}">About Us</a></li>
                                <li><a href="{% url 'website:blog' %}">Blog</a></li>
                                <li><a href="{% url 'website:contact' %}">Contact</a></li>
                            </ul>

                            <!-- Cart Icon -->
                            <div class="cart-icon ml-5 mt-4 mt-lg-0">
                                <a href="#"><i class="icon_cart"></i></a>
                            </div>

                            <!-- Book Icon -->
                            <div class="book-now-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                                <a href="#" class="btn akame-btn">Book Now</a>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->